<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pencaksilat.app.pencaksilatapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/page_main" />
        <activity
            android:name=".activity.SejarahActivity"
            android:label="@string/page_sejarah"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.TeknikDasarActivity"
            android:label="@string/page_teknik"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.KombinasiActivity"
            android:label="@string/page_kombinasi"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.InfoAplikasi"
            android:label="@string/page_info"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.CaraActivity"
            android:label="@string/page_cara"
            android:parentActivityName=".activity.KombinasiActivity" />
        <activity
            android:name=".activity.VideoActivity"
            android:label="@string/page_video"
            android:parentActivityName=".activity.KombinasiActivity" />
        <activity
            android:name=".activity.ProfileAcfivity"
            android:label="Profil Penulis"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/page_about"
            android:parentActivityName=".activity.InfoAplikasi"/>
        <activity
            android:name=".activity.WebViewActivity"
            android:label="@string/page_web"
            android:parentActivityName=".activity.InfoAplikasi"/>
    </application>

</manifest>